/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/* Add your custom styles here... */


/************************ FONT FAMILY FILE IMPORTED ************************/



/************************ ALL PAGES CSS ************************/

/*Header Banner - Css*/


/* Hamburger menu */

svg.hamburger-menu > * {
  display: none;
}
.stickyFooter {
  z-index: 99;
   display: none; 
   position: fixed; 
  bottom: 0;
  left: 0;
  right: 0;
}

svg.hamburger-menu {
  background: url('/wp-content/uploads/2019/12/hamburgerMenue.png');
  background-size: cover;
 font-size: 55px;
}
.stickyFooter .svg-container{
	padding:20px!important;
}
.signUp_content .uabb-separator-parent{
	text-align: center!important;
}
/* Hamburger menu */

.header-banner .fl-row-content-wrap {
  height: 75vh;
  background-position: 50% 30% !important;
  display: flex;
  align-items: center;

}

.header-banner-inner .fl-row-content-wrap {
  height: 80vh;
  background-position: 50% 50% !important;
  display: flex;
  align-items: center;

}

.header-banner-service .fl-row-content-wrap {
  height: 92vh;
  background-position: 50% 50% !important;
  display: flex;
  align-items: center;

}

.header-banner-cards .fl-row-content-wrap {
  height: 75vh;
  background-position: 50% 100% !important;
  display: flex;
  align-items: center;

}

/* Header Menu CSS */
.header_last_column {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.header_wrapper {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/*Tabbing CSS*/
.text-tab-ul ul {
  width: 35%;
  margin: 0 auto;
  text-align: left;
}

.divide-tabbed {
  width: 50%;
  float: left;
  margin-top: 35px;
  margin-bottom: -3px;
  background-color: #f7f7f7;
}

.fl-tabs-panel-content {
  padding: 0px;
}

.text-msg-tab .fl-tabs-labels {
  text-align: center;
  width: 58%;
  margin: 0 auto;
  color: #666;
  font-size: 21px;
}

.text-msg-tab .fl-tabs-label.fl-tab-active {
  font-weight: 700;
}

/*Platform Section touch to upper bar*/
.platform-top .fl-row-content-wrap {
  min-height: 0;
}

.or-circle h2 {
  display: block;
  height: 60px;
  width: 60px;
  line-height: 60px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #337ab7;
  color: white;
  text-align: center;
  font-size: 2em;
  margin-top: 30px;
  margin-left: 20px;
}

/* form placeholder overrides - have to use !important or this doesn't work
--------------------------------------------- */
.home ::-webkit-input-placeholder {
  /* Chrome */
  font-style: italic !important;
}

.home :-ms-input-placeholder {
  /* IE 10+ */
  font-style: italic !important;
}

.home ::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic !important;
}

.home :-moz-placeholder {
  /* Firefox 4 - 18 */
  font-style: italic !important;
}

.fl-pricing-table-column,
.fl-pricing-table-inner-wrap {
  border: none !important;
}

.fl-pricing-table-price {
  background: none !important;
}

.fl-pricing-table .fl-pricing-table-features li {
  text-align: center;
}

.fl-pricing-table-price {
  font-size: 4em !important;
  font-weight: 700;
}

.home .text-msg-tab .fl-tabs-labels {
  width: 90%;
  font-size: 16px;
}

.home .text-tab-ul p {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

@media(max-width:768px){
.stickyFooter .fl-menu-mobile-toggle.hamburger{
		width: 100%!important;
		height: 60px!important;
}
.mobileNum a.uabb-button{
	display: flex!important;
	justify-content: flex-start!important;
	padding: 5px 0px!important;
}
.mobileNum a.uabb-button{
	padding-left: 15px!important;
	margin: 0px!important;
}
  .fl-builder.dhf-template-beaver-builder-theme.bbhf-transparent-header header#masthead{
    position: static;
  }
  .header-button-wrap .fl-module-content .uabb-dual-button-wrapper .uabb-btn-horizontal a{
    min-height: 35px;
  }
  .fl-node-5dfbc753bfcbc .uabb-dual-button{
    justify-content: center;
  }
  footer .menu-humberger .fl-menu-responsive-toggle-mobile .hamburger-label{
    font-size: 20px;
    font-weight: bold;

  }
  .tab-bg-wrap .fl-row-content-wrap{
    background-position: 0% 0%!important;
  }
  .content-color-white-responsive .fl-node-content .fl-module-content .uabb-module-content h2.uabb-heading,
  .content-color-white-responsive .fl-node-content .fl-module-content .uabb-module-content div.uabb-text-editor,
  .content-color-white-responsive .fl-node-content .fl-module-content .uabb-module-content div.uabb-text-editor a{
    color: #fff;
  }  
  .content-color-white-responsive .fl-node-content .fl-module-content .uabb-module-content div.uabb-text-editor a{
    text-decoration: underline;
  }
  .content-color-white-responsive .fl-node-content .fl-module-content .uabb-module-content div.uabb-text-editor a:hover{
    text-decoration: none;
  }
}

@media(max-width:767px){
  .fl-builder-content .fl-node-5dea638d72796{
    width: 100%!important;
  }

  .fl-node-5dea63f2d2077 .uabb-creative-button-wrap a, .fl-node-5dea63f2d2077 .uabb-creative-button-wrap a{
    min-height: 20px!important;
    margin-top: 10px;
  }

}
@media(max-width:500px){
	.fl-node-5dd7fd94a1ed9>.fl-module-content {
    margin-top: 0px!important;
}
	.fl-node-5dd7fd532d67a .uabb-photo-content img {
    width: 200px!important;
}
    header .menu-responsive-layout{
    position: absolute!important;
    top: 20px!important;
    right: 0px!important;
  }
}
